<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>A Canadian by birth and an American by blood, I was raised in Canada but now study at the University of Chicago's
          Harris School of Public Policy. I graduated undergrad from the University of Toronto with three program specializations: 
          International Relations, Diaspora and Transnational Studies, and African Studies 
          (as an MPP student, you can imagine how much easier it is to explain what I currently study).</p>
      </div>
      <div class="col-lg-4">
        <p>Before moving to Chicago, I worked across sectors in various positions: in the academic spaces at the University of Toronto, 
          at several for-profit companies, as a volunteer for a not-for-profit, and as an intern for the Government of Ontario. 
          Now at the Harris School, I am interested in the intersection of international relations and international development. 
          In this space, I believe there is potential for extraordinary policy transformation to evolve past 
          traditional approaches and become more inclusive and innovative. Harris supports this interest by teaching me 
          various quantitative skills (including coding in R and econometrics) and enabling interactions with top scholars
          in conflict and development.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
